.container__gif{
    width: 500px;
    height: 500px;
}

.gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.container__gif{
    padding: 10px;
    display: grid;
    place-items: center;
}