.chatApp{
    display: grid;
    place-items: center;
    background-color: rgb(209, 209, 209);
    height: 100vh;
}

.chatApp__body{

    display: flex;
    background-color: rgb(209, 209, 209);
    height: 86vh;
    width: 110vh;
    box-shadow: -1px 4px 20px -6px black;
}

.chatApp__top{
}

.chatApp__sidebar{
    width: 20vw;
}

/*
rgb(157, 190, 183)
rgb(231, 50, 19)
*/